{%- assign current_variant = product.selected_or_first_available_variant -%}
{% if product.type == 'board' %}
  {% assign handle = product.handle | remove: 'the-' %}
  {% assign icon = 'icon-' | append: handle %}
  {% assign photoWatermark = handle | append: '-photos-watermark.png' %}
  {% assign specs = 'specs-' | append: handle %}
{% endif %}
{% for tag in product.tags %}
	{% if tag contains 'preorder' %}
      {%- assign preorder = true -%}
    {%- assign preorder_date = tag | remove: 'preorder--' -%}
  {% endif %}
{% endfor %}
<div id="wrap">
  <section data-section-id="{{ section.id }}" data-section-type="product" class="product product-full">
    <div class="container-fluid">
      <div class="row between-sm">
        <div class="col-xxs-12 col-md-6 col-lg-7 col-xl-8 bg-grey relative overflow-hide">
          {% if product.type == 'board' %}
            <div class="image-watermark">
              <img src="{{ photoWatermark | asset_url }}" alt="{{ product.title }} Watermark" />
            </div>
          {% endif %}
          <div class="product-images-slider gallery-top">
            <div class="product-images pdp-gallery">
              {% for image in product.images %}
                {%- capture responsive_image_counter %}{% increment responsive_image_counter %}{% endcapture -%}
                {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                <div id="ImageWrapper-{{ image.id }}-{{ responsive_image_counter }}" data-image-id="{{ image.id }}" class="responsive-image__wrapper product-image swiper-slide">
                  <img id="Image-{{ image.id }}-{{ responsive_image_counter }}"
                    src="{{ image | img_url: 'x701' }}"
                    data-src="{{ img_url }}"
                    alt="{{ image.alt | escape }}"
                  >
                  {% for variant in image.variants %}
                    {% assign option1 = variant.option1 %}
                    {% assign option2 = variant.option2 %}
                    {% assign option3 = variant.option3 %}
                  {% endfor %}

                  {% if image.attached_to_variant? %}
                    <div class="product-image-title">
                      {{ option1 }}
                      {% if option2 %} / {{ option2 }}{% endif %}
                      {% if option3 %} /
                      {% for variant in image.variants %}
                      {{ variant.option3 }}{% unless forloop.last %}, {% endunless %}
                      {% endfor %}
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          </div>
          {% if product.images.size > 1 %}
              <div class="gallery-slider">
                <div class="product-thumbs pdp-gallery-nav">
                  {% for image in product.images %}
                    <div class="swiper-slide product-thumb" data-thumbnail-id="{{ image.id }}">
                      <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160', crop: 'center' }}" alt="{{ image.alt | escape }}">
                      {% assign option1 = '' %}
                      {% assign option2 = '' %}
                      {% assign option3 = '' %}
                      {% for variant in image.variants %}
                        {% assign option1 = variant.option1 %}
                        {% assign option2 = variant.option2 %}
                        {% assign option3 = variant.option3 %}
                      {% endfor %}

                      {% if image.attached_to_variant? %}
                        <div class="product-image-title">
                          <div class="align-vertical">
                            {{ option1 }}
                            {% if option2 %} {{ option2 }}{% endif %}
                            {% if option3 %}
                            {% for variant in image.variants %}
                            {{ variant.option3 }}{% unless forloop.last %}, {% endunless %}
                            {% endfor %}
                            {% endif %}
                          </div>
                        </div>
                      {% endif %}
                    </div>
                  {% endfor %}
                </div>
              </div>
          {% endif %}

              <script>
                $('.pdp-gallery').slick({
                  slidesToShow: 1,
                  slidesToScroll: 1,
                  arrows: true,
                  dots: false,
                  asNavFor: '.pdp-gallery-nav',
                });
                $('.pdp-gallery-nav').slick({
                  slidesToShow: 6,
                  slidesToScroll: 1,
                  arrows: false,
                  dots: false,
                  asNavFor: '.pdp-gallery',
                  vertical: true,
                  verticalSwiping: true,
                  focusOnSelect: true
                });
              </script>


          <div class="swiper-scrollbar"></div>
        </div>
        <div class="col-xxs-12 col-md-6 col-lg-5 col-xl-4 relative">
          <div class="product-details">
            <div class="row middle-xxs">
              <div class="col-xxs-{% if product.type == 'board' %}8{% else %}12{% endif %}">
                <h1 class="product-title">{{ product.title }}</h1>

                <div class="product-price">
                  {% assign priceDiff = product.price_max | minus: product.price_min %}
                  {% if priceDiff == 0 %}
                    {{ product.price | money | remove: '.00' }}
                  {% else %}
                    {{ product.price_min | money | remove: '.00' }} - {{ product.price_max | money | remove: '.00' }}
                  {% endif %}
                  
                </div>
              </div>

            </div>

            <div class="rte product-description">
              <p>{{ product.description }}</p>
            </div>

            {% form 'product', product, data-product-form: '', data-product-handle: product.handle, data-enable-history-state: 'true' %}

              <div class="product-variants">
                {% unless product.has_only_default_variant %}
                  {% assign notboard = false %}
                  {% for option in product.options_with_values %}
                    
                    {% comment %}
                    {% if forloop.length == 1 %}
                      {% assign notboard = true %}
                    {% endif %}
                    {% endcomment %}

                    <div class="product-variant js" loop-option="{{ notboard }}">
                      <label class="product-variant-title" for="Option{{ option.position }}" {% if option.name == 'Variant' or option.name == 'variant' %} style="display: none;" {% endif %}>
                        {{ option.name }}
                          {% if option.name == 'Material' %}<a class="option-more modal-btn-material">Learn More</a>{% endif %}
                          {% if option.name == 'Size' %}<a class="option-more modal-btn-spec">Spec Chart</a>{% endif %}
                      </label>
                      <div class="product-options options-{{ option.name | handleize }}">
                        {% for value in option.values %}
                          <div class="product-option">
                            <input type="radio" id="Option{{ option.position }}-{{ value }}" name="options[{{ option.name }}]" value="{{ value }}" data-product-option data-product-option-position="{{ option.position}}" {% if notboard %}checked{% endif %}>
                            <label for="Option{{ option.position }}-{{ value }}">{{ value }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  {% endfor %}
                {% endunless %}
              </div>

              <noscript>
                <select name="id">
                  {% for variant in product.variants %}
                    <option
                      {% if variant == current_variant %}selected="selected"{% endif %}
                      {% unless variant.available %}disabled="disabled"{% endunless %}
                      value="{{ variant.id }}">
                        {{ variant.title }}
                    </option>
                  {% endfor %}
                </select>
              </noscript>
              <select name="id" class="hide" id="product-temp-{{ product.id }}">
                {% for variant in product.variants %}
                  <option
                    {% if variant == current_variant %}selected="selected"{% endif %}
                    {% unless variant.available %}disabled="disabled"{% endunless %}
                    value="{{ variant.id }}">
                      {{ variant.title }}
                  </option>
                {% endfor %}
              </select>
             
              <p class="affirm-as-low-as" data-page-type="product" data-amount="{{product.price_min}}"></p>
              <div class="row product-add middle-xxs">
                <div data-price-wrapper class="product-price">
                  <span data-product-price>
                    {{ current_variant.price | money | remove: '.00' }}
                  </span>

                  {% if product.compare_at_price_max > product.price %}
                    <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
                    {% comment %} <s data-compare-price> {% endcomment %}
                      {% if current_variant.compare_at_price > current_variant.price %}
                        {{ current_variant.compare_at_price | money }}
                      {% endif %}
                    </s>
                  {% endif %}
                </div>

                <div class="product-btn product-add-btn">
                  <button
                    type="submit"
                    name="add"
                    data-submit-button
                    {% unless current_variant.available or preorder %}disabled="disabled"{% endunless %}>
                    {% if preorder %}
                        Preorder
                          {% else %}
                          <span data-submit-button-text>
                            {% if current_variant.available %}
                              {{ 'products.product.add_to_cart' | t }}
                            {% else %}
                              {{ 'products.product.sold_out' | t }}
                            {% endif %}
                          </span>
                        {% endif %}  
                        
                      
                      
                      {% include 'arrow' %}
                  </button>
                  <div class="added-overlay">
                    Added to Cart
                  </div>
                    <div class="select-overlay">
                      Select Options
                    </div>
                </div>
              </div>
            {% endform %}
            {% if preorder %}
              <p class="preorder-text"> 
                shipping by <strong>{{ preorder_date }}</strong>
              </p>
            {% endif %}	
          </div>

        </div>
      </div>
    </div>
  </section>

  {%- comment -%}
  {% if isHardGood == true %}
    {% include 'pdp-story-section' %}
  {% endif %}
{%- endcomment -%}
    <div class="materials-chart modal-hidden">
      <div class="modal-header">
        <h4>Materials</h4>
      </div>
      <div class="modal-content">
        {% include 'materials-chart' %}
      </div>
    </div>

</div>

</div>

<div class="spec-chart"></div>

<script type="application/json" id="productJSON-{{ product.id}}">
{{ product | json }}
</script>
<script>
  $(document).ready(function(){
    $('.product-option input').on('click',function(){
      console.log("product-option input clicked");
      
      var productJson = JSON.parse($('#productJSON-{{ product.id}}').html());
      var  opts = [];

      $('.product-variants .product-options').each(function(index,e){
          var value = '';
          if ($(this).find('input:radio:checked').length > 0) {
            value = $(this).find('input:radio:checked').val();
          } else {
            value = $(this).find('input:radio').first().val();
          }
          console.log('value = ', value);
          opts.push(value);
      });

      var selected_variant = productJson.variants.filter(function(v,var_index){
        return v.option1 == opts[0] && v.option2 == opts[1] && v.option3 == opts[2]
      })

      console.log('selected_variant = ', selected_variant[0]);

        var pos = selected_variant[0].featured_image.position - 1;
        console.log('pos = ', pos)
        $('.product-images').slick('slickGoTo',pos)


      $('#product-temp-{{ product.id }}').val(selected_variant[0].id).trigger('change');
      if(selected_variant[0].available) {
        $('.product-btn button').removeAttr('disabled').find('span').text('Add to Cart');
      } else {
        $('.product-btn button').attr('disabled','disabled').find('span').text('Not Available');
      }
    })
    $('.product-variants .product-variant:last-child .product-option').click(function(){
    	$(this).closest('.shopify-product-form').find('.select-overlay').addClass('inactive');
    })
  })
</script>