<div id="hero">
    <div id="tech-split">
      <h1 class="t-center">Different by Design</h1>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 992 727" class="boards-click">
        <path d="M217.7 10.1L104.9 31.5l58.2 307 48.6 256.8 112.8-21.4z" class="board-click" data-layer="base" />
        <path d="M356.7 44.1L243.9 65.5l77.4 408.7 29.4 155.1 112.8-21.4z" class="board-click" data-layer="tri"/>
        <path d="M496.7 71.1L383.9 92.5l48.2 254.6 58.6 309.2 112.8-21.4z" class="board-click" data-layer="core"/>
        <path d="M633.7 96.1l-112.8 21.4 71 374.6 35.8 189.2 112.8-21.4z" class="board-click" data-layer="tri"/>
        <path d="M772.7 128.1l-112.8 21.4 49.6 261.7 57.2 302.1 112.8-21.4z" class="board-click" data-layer="top"/>
      </svg>
      <div class="boards-wrap">
        <div class="base-hover board-hover" data-layer="base" >
          <img src="{{ 'tech-board-1.svg' | asset_url }}" class="board-ani-1" />
        </div>
        <div class="tri-hover board-hover" data-layer="tri">
          <img src="{{ 'tech-board-2.svg' | asset_url }}" class="board-ani-2" />
        </div>
        <div class="core-hover board-hover" data-layer="core">
          <img src="{{ 'tech-board-3.svg' | asset_url }}" class="board-ani-3" />
        </div>
        <div class="tri-2-hover board-hover" data-layer="tri">
          <img src="{{ 'tech-board-2.svg' | asset_url }}" class="board-ani-4" />
        </div>
        <div class="top-hover board-hover" data-layer="top">
          <img src="{{ 'tech-board-5.png' | asset_url }}" class="board-ani-5" />
        </div>
      </div>
      <div class="boards-hotspots">
        <div class="hotspot-container core-hotspots" data-layer="core">
          <h4 class="hotspot-label">Core Tech</h4>
          <div class="hotspot" style="top: 11%">
            <div class="hotspot-dot" style="transform: translateX(-83.3%);">
              <span>1</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-4.7%) scaleX(1.01);"></div>
            </div>
            <div class="hotspot-description">
              <h5>UNIwall</h5>
              <p>Seamless urethane sidewalls fuse to our cores to create the most durable and damp ride available - featured on the Enduro Series decks.</p>
            </div>
          </div>
          <div class="hotspot left" style="top: 17.9%;">
            <div class="hotspot-dot" style="transform: translateX(-96.6%);">
              <span>2</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-4.6%) scaleX(1.01);"></div>
            </div>
            <div class="hotspot-description">
              <h5>CARBONcore</h5>
              <p>Cardiff Enduro cores feature a poplar-paulownia construction with vertical layers of carbon fiber in-between. This simple detail helps the core retain its shape for years.</p>
            </div>
          </div>
          <div class="hotspot" style="top: 42.4%;">
            <div class="hotspot-dot" style="transform: translateX(30%)">
              <span>3</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(5%) scaleX(0.92);"></div>
            </div>
            <div class="hotspot-description">
              <h5>LAUNCHpads</h5>
              <p>Are located under foot in the binding area to transfer rider input directly to the edges - featured on all solid models.</p>
            </div>
          </div>
          <div class="hotspot left" style="top: 55.6%;">
            <div class="hotspot-dot" style="transform: translateX(-86%);">
              <span>4</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-4.7%) scaleX(1.01);"></div>
            </div>
            <div class="hotspot-description">
              <h5>ENDUROcap</h5>
              <p>On both the Enduro and Pro Carbon splitboards we use a scratch resistant dimpled topsheet for maximum performance and protection.</p>
            </div>
          </div>
          <div class="hotspot" style="top: 70.8%;">
            <div class="hotspot-dot" style="transform: translateX(-86%);">
              <span>5</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-4.7%) scaleX(1.01);"></div>
            </div>
            <div class="hotspot-description">
              <h5>SPEEDbumps</h5>
              <p>Reverse sidecut bumps aligned with the bindings add grip to tighter sidecut radii.</p>
            </div>
          </div>
          <div class="hotspot left" style="top: 86%;">
            <div class="hotspot-dot" style="transform: translateX(100%);">
              <span>6</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-5.3%) scaleX(1.2);"></div>
            </div>
            <div class="hotspot-description">
              <h5>BOARDERpatrol</h5>
              <p>All of our boards have poplar stringer backed sidewalls. This reinforces the edge while protecting the lightweight cores.</p>
            </div>
          </div>
        </div>
        <div class="hotspot-container top-hotspots" data-layer="top">
          <h4 class="hotspot-label">Top Sheet Tech</h4>
          <div class="hotspot" style="top: 38.4%;">
            <div class="hotspot-dot" style="transform: translateX(-156%);">
              <span>1</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(0%) scaleX(0.925);"></div>
            </div>
            <div class="hotspot-description">
              <h5>SHOWtopper SD</h5>
              <p>On both the Solid Enduro and Pro Carbon decks we use a unique process of printing our graphics on a urethane topsheet which allow us to reveal the construction of the boards. This is then topped with a water-based lacquer.</p>
            </div>
          </div>
          <div class="hotspot" style="top: 77.9%;">
            <div class="hotspot-dot" style="transform: translateX(-40%);">
              <span>2</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(0) scaleX(1);"></div>
            </div>
            <div class="hotspot-description">
              <h5>NOVERhang</h5>
              <p>Cardiff creates wider-wasted high performance boards that will accommodate larger boot sizes without toe drag... you're welcome.</p>
            </div>
          </div>
        </div>
        <div class="hotspot-container tri-hotspots" data-layer="tri">
          <h4 class="hotspot-label">Triaxial Tech</h4>
          <div class="hotspot" style="top: 24%;">
            <div class="hotspot-dot double" style="transform: translate(-26.6%, 50%);">
              <span>1</span>
            </div>
            <div class="hotspot-dot" style="transform: translateX(-26.6%);">
              <span>1</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-1.9%) scaleX(1.02);"></div>
            </div>
            <div class="hotspot-description">
              <h5>TRIaxial</h5>
              <p>Two layers of triaxial fiberglass above and below the core.</p>
            </div>
          </div>
        </div>
        <div class="hotspot-container base-hotspots" data-layer="base">
          <h4 class="hotspot-label">Base Tech</h4>
          <div class="hotspot" style="top: 11.3%;">
            <div class="hotspot-dot" style="transform: translateX(-26.6%);">
              <span>1</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-1.9%) scaleX(1.02);"></div>
            </div>
            <div class="hotspot-description">
              <h5>RACEbase</h5>
              <p>Black graphite infused sintered base for maximized glide and easy repair.</p>
            </div>
          </div>
          <div class="hotspot" style="top: 49.3%;">
            <div class="hotspot-dot" style="transform: translateX(-43.3%);">
              <span>2</span>
            </div>
            <div class="hotspot-line-wrap">
              <div class="hotspot-line" style="transform: translateX(-1.86%) scaleX(1.02);"></div>
            </div>
            <div class="hotspot-description">
              <h5>GROOMtune</h5>
              <p>Our solid shapes are backcountry-inspired but resort-tuned—meaning all our solids have been shaped and adapted to ride on groomed snow.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>