<div class="int-xxs-t-6 camber-definitions bg-img bg-img-bottom" style="background-image: url({{ 'bg-mountain.jpg' | asset_url }})">
    <div class="container">
      <div class="row" data-aos="fade-right" data-aos-delay="100">
        <div class="col-sm-6 col-sm-offset-1">
          <div class="camber-title">
            {% include 'icon-goat' %}
            <h4>The Goat</h4>
          </div>
          <img src="{{ 'goat-camber.png' | asset_url }}" alt="Goat Camber" />
        </div>
      </div>
      <div class="row" data-aos="fade-right" data-aos-delay="100">
        <div class="col-sm-6 col-sm-offset-2">
          <div class="camber-title">
            {% include 'icon-crane' %}
            <h4>The Crane</h4>
          </div>
          <img src="{{ 'crane-camber.png' | asset_url }}" alt="Crane Camber" />
        </div>
      </div>
      <div class="row" data-aos="fade-right" data-aos-delay="100">
        <div class="col-sm-6 col-sm-offset-3">
          <div class="camber-title">
            {% include 'icon-powgoda' %}
            <h4>The Powgoda</h4>
          </div>
          <img src="{{ 'powgoda-camber.png' | asset_url }}" alt="Powgoda Camber" />
        </div>
      </div>
      <div class="row" data-aos="fade-right" data-aos-delay="100">
        <div class="col-sm-6 col-sm-offset-4">
          <div class="camber-title">
            {% include 'icon-swell' %}
            <h4>The Swell</h4>
          </div>
          <img src="{{ 'swell-camber.png' | asset_url }}" alt="Swell Camber" />
        </div>
      </div>
      <div class="row" data-aos="fade-right" data-aos-delay="100">
        <div class="col-sm-6 col-sm-offset-5">
          <div class="camber-title">
            {% include 'icon-bonsai' %}
            <h4>The Bonsai</h4>
          </div>
          <img src="{{ 'bonsai-camber.png' | asset_url }}" alt="Bonsai Camber" />
        </div>
      </div>
    </div>
  </div>