<div id="wrap">
  <div class="hero-about bg-img bg-img-top int-sm-t-10" style="background-image: url({{ 'about-hero.png' | asset_url }})">
    <div class="section">
      <div class="container">
        <div class="row center-xxs middle-sm relative">
          <div class="col-xxs-12 col-xs-10 col-sm-7">
            <div class="img-profile img-caption img-full-xxs">
              <div class="main">
                <div class="ext-xxs-neg-l-16 ext-xxs-neg-r-6 ext-sm-neg-l-0 ext-sm-neg-r-0 image-load">
                  <img src="{{ 'about-welcome.jpg' | asset_url }}" alt="Riding a Cardiff Split Board" data-aos="zoom-out"/>
                </div>
              </div>
              <div class="corner-photo image-load">
                <img src="{{ 'sam-bawden.jpg' | asset_url }}" alt="Sam Bawden" data-aos="zoom-out" data-aos-delay="100"/>
              </div>
            </div>
            <div class="row int-sm-t-6 int-md-t-10">
              <div class="col-sm-10 col-md-8">
                <h2 class="anchor-middle" data-scroll data-splitting="lines">Welcome to Cardiff</h2>
                <h4>001</h4>
                <p>The origins of Cardiff Snowcraft lay in a steep alpine cirque at the head of Cardiff Fork, in the Wasatch Mountains of Utah. It was here that a snowboarder and architect imagined better splitboarding equipment to climb and descend Cardiff’s imposing lines. This conjuring led to sketches, which evolved into digital models and eventually tangible prototypes. Years of prototypes and tweaks slowly became innovation. Independent thinking, creative problem solving, and unparalleled performance is an integral part of every one of our splitboards and snowboards. If you’re wandering the mountains in search of deep, untracked snow, you’re one of us. We invite you to experience Cardiff.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section int-xxs-v-4 int-sm-v-6 int-md-v-12">
      <div class="container">
        <div class="row bottom-lg reverse-sm">
          <div class="col-sm-6">
            <div class="ext-xxs-b-4 ext-xxs-h-1 ext-sm-b-16 ext-sm-h-0 image-load">
              <img src="{{ 'design-sketches.png' | asset_url }}" alt="Design Sketches" data-aos="zoom-out"/>
            </div>
          </div>
          <div class="col-sm-4 col-sm-offset-1">
            <h2 data-scroll data-splitting="lines">Different by Design</h2>
            <div class="int-sm-t-2 int-lg-t-10">
              <h4>002</h4>
              <p>At Cardiff Snowcraft, we distill decades of experience in snowboarding, design, engineering, and construction into purpose-built boards that tour and ride like no other out there. Unique to the industry, we offer each of our snowboards in both a splitboard and snowboard option, as well as two different builds: ENDURO and PRO CARBON. This customizable model allows you to not only find your dream ride, but to ride it the way you want. Think different, build different, ride different.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section int-xxs-t-4">
      <div class="container">
        <div class="row center-sm relative">
          <div class="col-sm-5">
            <div class="img-profile img-caption img-full-xxs">
              <div class="main image-load">
                <img src="{{ 'think-different.jpg' | asset_url }}" alt="Packing a Cardiff Split Board up the Mountain" data-aos="zoom-out" />
              </div>
              <div class="side-photo">
                <img src="{{ 'snowboard-diagram.png' | asset_url }}" alt="Diagram" />
              </div>
            </div>
            <div class="row int-sm-t-4">
              <div class="col-sm-11">
                <h2 class="anchor-middle" data-scroll data-splitting="lines">Think Different</h2>
                <div class="int-md-t-4">
                  <h4>003</h4>
                  <p>For us, going uphill is just as important as the ride down. All of our boards are designed and tested first as a split. We theorized that if we could design equipment that maximized performance on the skin track, then we could adjust the shape of the board to optimize riding performance characteristics. We call this the TRANscend Theory—equal emphasis on ascending and descending. This new pathway of thinking resulted in the development of our HALFcamber • FLOATilla • PERFECTpivot • RADIcAL SIDECUT technologies.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section int-xxs-t-4 int-sm-t-10">
      <div class="container">
        <div class="row center-sm relative">
          <div class="col-sm-10">
            <div class="img-profile img-caption img-full-xxs">
              <div class="main">
                <div class="ext-xxs-neg-l-1 ext-xxs-neg-r-1 ext-sm-neg-l-0 ext-sm-neg-r-0 image-load">
                  <img src="{{ 'build-different.jpg' | asset_url }}" alt="Riding down the mountain in a Cardiff Split Board" data-aos="zoom-out" />
                </div>
              </div>
            </div>
            <div class="row int-sm-t-4 int-md-t-8">
              <div class="col-sm-8 col-md-5">
                <h2 class="anchor-middle" data-scroll data-splitting="lines">Build Different</h2>
                <h4>004</h4>
                <p>It’s all about the details. To achieve the highest level of performance, we innovate from the core out. We recognize that splitboards ride in different conditions than solid boards 80-90% of the time. As a result we adapt our constructions to not only minimize weight but also maximize performance across a wide spectrum of snow conditions. The result is our NOVERhang • UNIwall • BOARDERpatrol • bcDNA • GROOMtune • SWALEtail • biLOBA • RACEbase • SPEEDbumps • LAUNCHpads technologies.</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="section int-sm-t-10">
      <div class="container">
        <div class="row middle-sm">
          <div class="col-sm-4 col-sm-offset-1">
            <div class="int-sm-r-4">
              <div class="mob-vert ext-xxs-neg-b-16 ext-xs-neg-b-30 ext-sm-neg-b-0">
                <img src="{{ 'ride-different.png' | asset_url }}" alt="Split Sketch and Cardiff Goat Board" data-aos="fade-up" />
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-6 col-md-offset-1">
            <h2 data-scroll data-splitting="lines">Ride Different</h2>
            <div class="row">
              <div class="col-sm-8 col-md-6">
                <div class="int-md-t-2">
                  <h4>005</h4>
                  <p>From all-mountain freestyle to free-pow, resort groomers to steep backcountry spines, CARDIFF SNOWCRAFT has a deck fine-tuned for your unique riding style.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <div class="ext-xxs-t-2 ext-xxs-b-4 ext-sm-t-0 ext-sm-b-0 image-load">
        <img src="{{ 'about-footer.jpg' | asset_url }}" alt="Board" data-aos="zoom-out" />
      </div>
    </div>

    {% section 'about-collection' %}

    <!-- <div class="section int-sm-t-4">
      <div class="container">
        <div class="row middle-sm">
          <div class="col-sm-4 t-gold">
            <h3 data-aos="fade-up">20/21 Collection</h3>
            <div class="row">
              <div class="col-xl-7">
                <p data-aos="fade-up">This is the most advanced board.</p>
                <p data-aos="fade-up">Snowboards handcrafted in every detail for some of the highest adventures and shoots</p>
                <div class="p" data-aos="fade-up">
                  <a class="link" href="/products">Shop {% include 'arrow' %}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-sm-offset-1">
            <div class="extend-right large">
              <img src="{{ 'boards-cropped.png' | asset_url }}" alt="Boards" />
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>